<template name="signIn">
  {{#ionModal title=""}}

    <div class="padding text-center sign-in-modal">
      <p>
        <img src="/favicon-192x192.png" width=150 height=150 />
        <br>
        <strong>登陆查看更多内容</strong>
      </p>

      <!--<p>-->
        <!--<button data-action="sign-in" class="button button-positive sign-in-button">-->
          <!--<img src="/images/meteor-icon.png" width=25 height=25 /> Sign in with Meteor-->
        <!--</button>-->
      <!--</p>-->

      <p>
          <button data-action="sign-in-facebook" class="button button-positive sign-in-button">
              Sign in with facebook
          </button>
      </p>

      <p>任何反馈，请电邮至lawist2010@gmail.com</p>
    </div>

  {{/ionModal}}
</template>
